@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    background: #111;
}
section
{
    position: relative;
    padding: 100px;
}
section.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.banner:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(to top,#111,transparent);
}
.fitBg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
section.banner .content
{
    position: relative;
    z-index: 10000;
    max-width: 900px;
    text-align: center;
}
section.banner .content h2
{
    color: #fff;
    font-size: 5em;
}
section.banner .content p
{
    color: #fff;
    font-size: 1.2em;
}
a.btn
{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
}
.header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
.header .toggle img
{
    max-width: 40px;
    cursor: pointer;
}
.about
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBx
{
    min-width: 50%;
    width: 50%;
    text-align: end;
    padding-right: 40px;
}
.titleText
{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.text
{
    color: #fff;
    font-size: 1em;
}
.ImgBx
{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
    background: #fff;
}
.ImgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.banner2,
section.banner3
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.banner2:before,
section.banner3:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1000;
    background: linear-gradient(to top,#111,transparent);
}
section.banner2:after,
section.banner3:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1000;
    background: linear-gradient(to bottom,#111,transparent);
}
.destination
{
    text-align: center;
}

.destination .content
{
    text-align: center;
}
.destinationList
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.destinationList .box
{
    position: relative;
    min-width: 350px;
    height: 480px;
    background: #191919;
    transition: 0.5s;
    margin: 10px;
}
.destinationList:hover .box
{
    opacity: 0.2;
}
.destinationList .box:hover
{
    opacity: 1;
}
.destinationList .box .imgBx
{
    position: relative;
    width: 100%;
    height: 400px;
}
.destinationList .box .content
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destinationList .box .content h3
{
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
}
.destinationList .box .content h3 span
{
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.5;
}
.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .sci
{
    position: relative;
    display: flex;
}
.footer .sci li
{
    list-style: none;
}
.footer .sci li a
{
    text-decoration: none;
    margin: 0 20px;
}
.footer .sci li a img
{
    filter: invert(1);
    max-width: 40px;
}
.copyright
{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    text-align: center;
}
.copyright a
{
    color: #fff;
    text-decoration: none;
}

@media (max-width: 767px)
{
    section
    {
        padding: 40px;
    }
    section.banner .content h2
    {
        font-size: 2.5em;
    }
    section.banner .content p
    {
        font-size: 1em;
    }
    .about
    {
        flex-direction: column;
    }
    .about .contentBx,
    .about .ImgBx
    {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .ImgBx
    {
        min-height: 250px;
    }
    .titleText
    {
        font-size: 1.5em;
    }
    a.btn
    {
        margin-bottom: 30px;
    }
    .destinationList .box
    {
        position: relative;
        max-width: 350px;
        width: 100%;
        height: 400px;
        min-width: initial;
    }
    .destinationList .box .imgBx
    {
        height: 320px;
    }
    .footer .sci li a img
    {
        filter: invert(1);
        max-width: 30px;
    }
}




/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}